<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image Filter</title>
    <style>
        canvas {
            border: black 1px solid;
            border-radius: 5px;
        }
    </style>
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</head>

<body>
    <canvas id="canvas" width="600" height="600"></canvas>
    <input id="loadButton" type="file" accept="image/*">
    <script src="/js/filters.js?n=1"></script>
</body>

</html>