<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/ui.css">
</head>

<body>
    <h1>사진 보기</h1>
    <div class="formWrap">
        <form action="/dec" method="POST">
            <div class="inputWrap">
                날짜 <input type="date" id="date" name="date" min="yyy" max="zzz" class="inputItem"> <br />
                시간 <input type="time" id="time" name="time" class="inputItem"><br />
                <input type="submit" id="sendbtn" value="사진보기"></button>
            </div>
        </form>
        <img id="imgsrc" src="">
    </div>
</body>

</html>