<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            font-size: 16px;
            font-family: Consolas, sans-serif;
        }

        .inputItem {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <form action="/dec" method="POST">
        날짜 <input type="date" name="date" min="yyy" max="zzz" class="inputItem"> <br />
        시간 <input type="time" name="time" class="inputItem"><br />
        <input type="submit" value="사진보기">
    </form>
</body>

</html>