# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\seoho\OneDrive - 한성대학교\로컬 디스크\HSU\2021-1\사이버보안 캡스톤디자인(7)\security_faceMasking\security_faceMasking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
